
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  background: #6c63ff  url(./assets/images/bg-main.png) center bottom no-repeat !important;
  
  min-height:100vh;
}


.navbar-nav a{
  color:#fff;
  padding:0 20px;
}

.navbar-nav a:hover, .navbar-brand a:hover{
  color: #ff6584;
  text-decoration: none;
}

.navbar-brand a{
  color:#fff;
  font-size:30px !important;
  font-weight:bold;
}

.form-container{
  background:#fff;
  max-width:350px;
  width:100%;
  
}

.transport-card{
  background: #fff;
  cursor:pointer;
}

.transport-card img {
  width: auto;
  max-height: 110px;
  margin: 0 auto;
  display: block;
}

.map {
  height: 100vh;
  width: 100%;
}

.destination-header{
  padding:20px 10px;
  background: #ff6584;
  border-radius: 10px;;
}
.destination-header ul{
  margin-bottom:0;
  padding-left:0;
  list-style: none;
}
.destination-header ul li{
  color:#fff;
}

.rider-container{
  background: #efefef;
  padding:15px;
  border-radius: 10px;
}

.rider{
  padding:15px;
  background-color:#fff;
  border-radius: 10px;
  margin:10px 0;
}

.rider-image{
  width:35%;
}

.name{
  width:25%;
}

.seat{
  width:25%;
  text-align:right;
}

.fare{
  width:25%;
  text-align: right;
}

.search-form-container{
  background: #efefef;
  padding:20px 15px;
  border-radius: 10px;;
}

.city-btn{
  background:#ff6584 !important;
  color:#fff !important;
  border-color: #ff6584 !important;
}

.full-width-btn{
  width:100%;
}
